params {
  profile = false
  cache = ''
  outdir = 'results'
  kmer_size = 35
  db_prefix = 'mycobacteria'
  illumina_suffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]
  fastq_exts = ['.fastq.gz', '.fq.gz']
  fastq_search_path = makeFastqSearchPath( params.illumina_suffixes, params.fastq_exts )
}

def makeFastqSearchPath ( illumina_suffixes, fastq_exts ) {
    if ( params.fastq_input ) {
      def fastq_search_path = []
      for (suffix in illumina_suffixes){
          for (ext in fastq_exts){
              fastq_search_path.add(params.fastq_input.toString() + '/**' + suffix.toString() + ext.toString())
          }
      }
      return fastq_search_path
    }
}

profiles {
  conda {
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }
}